*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    color: #333;
}
img{
    width: 310px;
    height: 500px;
}
header{
    background-color: #fff;
    padding: 10px;
}
nav{
    max-width: 1400px;
    margin: 0 auto;
    /* background-color: #e4e3e3; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    text-align: center;
}
nav h1{
    line-height: 1em;
}
nav h1 div:first-child{
    font-weight: 800;
}
nav h1 div:last-child{
    font-weight: 400;
    letter-spacing: 1.8px;
}
nav a{
    text-decoration: none;
    color: #333;
}

main{
    background-color: #ededed;
    max-width: 1200px;
    margin: 60px auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    gap: 30px;
}

main div{
    overflow: hidden;
    background-color: #fff;
    border-radius: 6px;
    border: 16px solid #fff;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.05)
}

main img{
    min-width: 100%;
    min-height: 100%;
}